body {
    padding-top: 50px;
    
    background-image: url("/bg/bg.jpg");
    background-color: #cccccc;
    background-repeat: no-repeat;
    background-size: cover;

}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.main_form {
    background: rgba(255,255,255,0.5);
    height: 100%
}
.profile_text_style {
    color: black;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 18px;

}
#menu { /* Левый блок*/
    width: 200px;
    float: left;
    color: white;
    background: #008080;
    padding: 10px;
    height: 100%;
    width: 15%;
    height: 100%;
    clear: inherit
}

#content { /* центральный блок*/
    float: left;
    height: 100%;
    width: 70%;

    height: 100%;
}
#comments { /* Правый блок*/
    width: 200px;
    float: right;
    padding: 10px;
    background: #fff;
    height: 100%;
    width: 15%;
    height: 100%;

}

#bottom {
    clear:both;
    padding: 10px;
    background: #444;
    color: #fff;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    height:10%;
}
#table_main {
    width: 100%;
    height:100%;
}