    <html>
    <head>
        <script src="/Scripts/dhtmlxcommon.js" type="text/javascript" charset="utf-8"></script>
        <script src="/Scripts/dhtmlxgrid.js" type="text/javascript" charset="utf-8"></script>
        <script src="/Scripts/dhtmlxgridcell.js" type="text/javascript" charset="utf-8"></script>

        <script src="/Scripts/jquery-3.3.1.js" type="text/javascript" charset="utf-8"></script>
        <script src="/Scripts/jquery.unobtrusive-ajax.js" type="text/javascript" charset="utf-8"></script>


        <script src="/Scripts/ext/dhtmlxgrid_filter.js" type="text/javascript" charset="utf-8"></script>

        <link rel="stylesheet" href="/Scripts/dhtmlxgrid.css" type="text/css" media="screen" charset="utf-8">
        <link rel="stylesheet" href="/Scripts/skins/dhtmlxgrid_dhx_skyblue.css" type="text/css" media="screen" charset="utf-8">

        <script src="/Scripts/dhtmlxdataprocessor.js" type="text/javascript" charset="utf-8"></script>
    </head>
    <body>
        <div id="grid_here" style="width:600px; height:400px;">
        </div>
        <script type="text/javascript" charset="utf-8">
            
           // grid.parse("../home/index2/", "json");
           // grid.parse("../home/index2/");
            
            //grid.parse(data, "json");
            


           
            


            var rootData;
            
            $(document).ready(function () {
                $.ajax({
                    type: 'GET',
                    dataType: 'json',
                    url: '/Home/Index2',
                    success: function (data) {
                        
                        var itemRow = "<table>";  
                        $(data).each(function (index, item) {
                            itemRow += "<tr><td>" + item.bla1 +"         " + "</td><td>" + item.bla2 + "</td></tr>";

                            $('#mylist').append("<li>"  + "</li>");
                        });
                        itemRow += "</table>";  
                        $("#divItems").html(itemRow);

                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        alert('Error - ' + errorThrown);
                    }
                });
            });
            

        </script>
        <div id="divItems"></div>
    </body>
</html>
