
<html>
<head>

</head>
<body>
    <table border="1" id="table_main">
        <tr>
            <td colspan="3" id="id_table_book_title1" align="center">Ячейка 1</td>
            <td colspan="3" id="id_table_book_title2" align="center">Ячейка 1 </td>
            <td colspan="3" id="id_table_book_title3" align="center">Ячейка 1</td>
        </tr>
        <tr>
            <td colspan="2" id="id_table_book_img1" align="center"></td>
            <td id="id_table_book_description1" valign="top">asaasg</td>
            <td colspan="2" id="id_table_book_img2" align="center"></td>
            <td id="id_table_book_description2" valign="top">asaasg</td>
            <td colspan="2" id="id_table_book_img3" align="center"></td>
            <td id="id_table_book_description3" valign="top">asaasg</td>
        </tr>
        <tr>
            <td id="id_table_book_avtor1">Ячейка 2</td>
            <td id="id_table_book_date1">Ячейка 2</td>
            <td id="id_table_book_rate1">Ячейка 3</td>
            <td id="id_table_book_avtor2">Ячейка 2</td>
            <td id="id_table_book_date2">Ячейка 2</td>
            <td id="id_table_book_rate2">Ячейка 3</td>
            <td id="id_table_book_avtor3">Ячейка 2</td>
            <td id="id_table_book_date3">Ячейка 2</td>
            <td id="id_table_book_rate3">Ячейка 3</td>
        </tr>
        <tr>
            <td colspan="3" id="id_table_book_title4" align="center">Ячейка 1</td>
            <td colspan="3" id="id_table_book_title5" align="center">Ячейка 1</td>
            <td colspan="3" id="id_table_book_title6" align="center">Ячейка 1</td>
        </tr>
        <tr>
            <td colspan="2" id="id_table_book_img4" align="center"></td>
            <td id="id_table_book_description4" valign="top">1</td>
            <td colspan="2" id="id_table_book_img5" align="center"></td>
            <td id="id_table_book_description5" valign="top">1</td>
            <td colspan="2" id="id_table_book_img6" align="center"></td>
            <td id="id_table_book_description6" valign="top">2</td>
        </tr>
        <tr>
            <td id="id_table_book_avtor4">Ячейка 2</td>
            <td id="id_table_book_date4">Ячейка 2</td>
            <td id="id_table_book_rate4">Ячейка 3</td>
            <td id="id_table_book_avtor5">Ячейка 2</td>
            <td id="id_table_book_date5">Ячейка 2</td>
            <td id="id_table_book_rate5">Ячейка 3</td>
            <td id="id_table_book_avtor6">Ячейка 2</td>
            <td id="id_table_book_date6">Ячейка 2</td>
            <td id="id_table_book_rate6">Ячейка 3</td>
        </tr>
        <tr>
            <td colspan="3" id="id_table_book_title7" align="center">Ячейка 1</td>
            <td colspan="3" id="id_table_book_title8" align="center">Ячейка 1</td>
            <td colspan="3" id="id_table_book_title9" align="center">Ячейка 1</td>
        </tr>
        <tr>
            <td colspan="2" id="id_table_book_img7" align="center"></td>
            <td id="id_table_book_description7" valign="top">1</td>
            <td colspan="2" id="id_table_book_img8" align="center"></td>
            <td id="id_table_book_description8" valign="top">2</td>
            <td colspan="2" id="id_table_book_img9" align="center"></td>
            <td id="id_table_book_description9" valign="top">3</td>
        </tr>
        <tr>
            <td id="id_table_book_avtor7">Ячейка 2</td>
            <td id="id_table_book_date7">Ячейка 2</td>
            <td id="id_table_book_rate7">Ячейка 3</td>
            <td id="id_table_book_avtor8">Ячейка 2</td>
            <td id="id_table_book_date8">Ячейка 2</td>
            <td id="id_table_book_rate8">Ячейка 3</td>
            <td id="id_table_book_avtor9">Ячейка 2</td>
            <td id="id_table_book_date9">Ячейка 2</td>
            <td id="id_table_book_rate9">Ячейка 3</td>
        </tr>
        <tr>
            <td colspan="9" id="id_table_book_list" align="center">1..n</td>
        </tr>

    </table>
    <script>
        ba = 0;
        total = 0;
        $.ajax({
            url: "/home/Index_books/",
            type: 'GET',
            dataType: 'json',
            success: function (data) {
                
                $.each(data, function (i, item) {
                    ba++;
                    if (ba < 10) {
                        total = (data.length + 1) / 9;
                        addTable3(item.Название, item.Img, ba, item.описание, item.автор, item.Дата, item.Рейтинг, total, item.id_book);
                    }
                });
            },
        });
        function addTable3(a, b, c, d, e, f, j, k, l) {
            var convert = c.toString();
            var test1 = "id_table_book_title" + convert;
            var test2 = "id_table_book_img" + convert;
            var test3 = "id_table_book_description" + convert;
            var test4 = "id_table_book_avtor" + convert;
            var test5 = "id_table_book_date" + convert;
            var test6 = "id_table_book_rate" + convert;

            var td = document.getElementById(test1);
            var td2 = document.getElementById(test2);
            var td3 = document.getElementById(test3);
            var td4 = document.getElementById(test4);
            var td5 = document.getElementById(test5);
            var td6 = document.getElementById(test6);
            td4.innerHTML = "Автор:" + e;
            td3.innerHTML = d.substring(0, 100) + "...";
            td.innerHTML = "<a href='home/page?id_book="+l+"'>"+a.substring(0, 30)+ "</a>";
            var img = document.createElement("img");
            img.src = '/img/books/' + b;
            img.width = 100;
            img.height = 150;
            td5.innerHTML = "Дата добавления:";
            td6.innerHTML = "Рейтинг:" + j+ "/10";
            td2.appendChild(img);
            var convert = b.toString();
            td7 = document.getElementById("id_table_book_list");
            if (k => 2) {
                td7.innerHTML = "<a href='Home/Index_next?i=1'>2</a> ... <a href='Home/Index_next?i=" + Math.ceil(k-1)+"'>"+Math.ceil(k)+"</a>";
            } else if (k == 1) {
            td7.innerHTML = Math.ceil(k);
            }
        };
        
    </script>
</body>
</html>
