
<html>
<head>

</head>
<body>
    <table id="jqg"></table>
    <script type="text/javascript" charset="utf-8">
        $("#jqg").jqGrid({
            url: '/Home/Index2',
            datatype: "json",
            colNames: ['Id полки', 'Название книги', 'ФИО Автора', 'Жанр'],
            colModel: [
                { name: 'Id_полки', index: 'Id', width: 150, stype: 'text' },
                { name: 'Название_книги', index: 'Name', width: 150, sortable: true },
                { name: 'ФИО_Автора', index: 'Name', width: 150, sortable: true },
                { name: 'Жанр', index: 'Name', width: 250, sortable: true }
            ],
            rowNum: 200, // число отображаемых строк
            loadonce: true, // загрузка только один раз
            sortname: 'Id_полки', // сортировка по умолчанию по столбцу Id
            sortorder: "desc", // порядок сортировки
            caption: "Список Книг"
        });
    </script>
</body>
</html>
