
@{
    Layout = "/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />

</head>
<body>

    <table border="1" id="table_main">
        <tr>
            <td colspan="3" id="id_table_book_title" align="center"></td>
        </tr>
        <tr>
            <td colspan="2" id="id_table_book_img" align="center"></td>
            <td id="id_table_book_description" valign="top"></td>
        </tr>
        <tr>
            <td id="id_table_book_avtor"></td>
            <td id="id_table_book_date"></td>
            <td id="id_table_book_rate"></td>
        </tr>
        <tr>
    </table>

    <h3>Комментарии:</h3>
    <table border="1" id="table_comments">

        <tr>
            <td id="id_table_photo_user1" rowspan="2"></td>
            <td id="id_table_name_user1"></td>
        </tr>
        <tr>
            <td id="id_table_comment_user1"></td>
        </tr>

        <tr>
            <td id="id_table_photo_user2" rowspan="2"></td>
            <td id="id_table_name_user2"></td>
        </tr>
        <tr>
            <td id="id_table_comment_user2"></td>
        </tr>

        <tr>
            <td id="id_table_photo_user3" rowspan="2"></td>
            <td id="id_table_name_user3"></td>
        </tr>
        <tr>
            <td id="id_table_comment_user3"></td>
        </tr>

        <tr>
            <td id="id_table_photo_user4" rowspan="2"></td>
            <td id="id_table_name_user4"></td>
        </tr>
        <tr>
            <td id="id_table_comment_user4"></td>
        </tr>

        <tr>
            <td id="id_table_photo_user5" rowspan="2"></td>
            <td id="id_table_name_user5"></td>
        </tr>
        <tr>
            <td id="id_table_comment_user5"></td>
        </tr>

        <tr>
            <td id="id_table_photo_user6" rowspan="2"></td>
            <td id="id_table_name_user6"></td>
        </tr>
        <tr>
            <td id="id_table_comment_user6"></td>
        </tr>

        <tr>
            <td id="id_table_photo_user7" rowspan="2"></td>
            <td id="id_table_name_user7"></td>
        </tr>
        <tr>
            <td id="id_table_comment_user7"></td>
        </tr>

        <tr>
            <td id="id_table_photo_user8" rowspan="2"></td>
            <td id="id_table_name_user8"></td>
        </tr>
        <tr>
            <td id="id_table_comment_user8"></td>
        </tr>

        <tr>
            <td id="id_table_photo_user9" rowspan="2"></td>
            <td id="id_table_name_user9"></td>
        </tr>
        <tr>
            <td id="id_table_comment_user9"></td>
        </tr>

        <tr>
            <td id="id_table_photo_user10" rowspan="2"></td>
            <td id="id_table_name_user10"></td>
        </tr>
        <tr>
            <td id="id_table_comment_user10"></td>
        </tr>
    </table>
    <br />
    <form action="">
        <p><textarea rows="3" cols="50" name="text"></textarea></p>
        <p><input type="submit" value="Оставить комментарий"></p>
    </form>



    <script>
        let type = new URLSearchParams(document.location.search.substring(1));
        ba = 0;
        total = 0;
        $.ajax({
            url: "/home/page_result?"+type,
            type: 'GET',
            dataType: 'json',
            success: function (data) {

                $.each(data, function (i, item) {

                        addTable3(item.Название, item.Img, ba, item.описание, item.автор, item.Дата, item.Рейтинг, total, item.id_book);

                });
            },
        });
        $.ajax({
            url: "/home/page_result_comments?" + type,
            type: 'GET',
            dataType: 'json',
            success: function (data) {

                $.each(data, function (i, item) {

                    addcommentstable(item.Фамилия, item.текст, item.image, i+1);

                });
            },
        });
        function addcommentstable(a, b, c, d) {
            var test1 = "id_table_photo_user" + d.toString();
            var test2 = "id_table_comment_user" + d.toString();
            var test3 = "id_table_name_user" + d.toString();
            var td = document.getElementById(test1);
            var td2 = document.getElementById(test2);
            var td3 = document.getElementById(test3);
            var img = document.createElement("img");
            img.src = '/img/avatars/' + c;
            img.width = 50;
            img.height = 50;
            td.appendChild(img);
            td3.innerHTML = a;
            td2.innerHTML = b;

        }
        function addTable3(a, b, c, d, e, f, j, k, l) {
            var test1 = "id_table_book_title";
            var test2 = "id_table_book_img";
            var test3 = "id_table_book_description";
            var test4 = "id_table_book_avtor";
            var test5 = "id_table_book_date";
            var test6 = "id_table_book_rate";

            var td = document.getElementById(test1);
            var td2 = document.getElementById(test2);
            var td3 = document.getElementById(test3);
            var td4 = document.getElementById(test4);
            var td5 = document.getElementById(test5);
            var td6 = document.getElementById(test6);
            td4.innerHTML = "Автор:" + e;
            td3.innerHTML = d;
            td.innerHTML = a;
            var img = document.createElement("img");
            img.src = '/img/books/' + b;
            img.width = 100;
            img.height = 150;
            td5.innerHTML = "Дата добавления:";
            td6.innerHTML = "Рейтинг:" + j;
            td2.appendChild(img);
            
        };

    </script>



</body>
</html>
