@{

    Layout = "/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>readers_list</title>
</head>
<body>
    <table border="1" id="table_main">
        <tr>
            <td>id клиента:</td>
            <td>Аватар:</td>
            <td>ФИО:</td>
            <td>Возраст:</td>
            <td>Логин:</td>
            <td>Рейстинг:</td>
            <td>Роль:</td>
            <td>Книг_прочитано:</td>
            <td>Взято_книг:</td>
        </tr>

        <tr>
            <td id="user_id1">id</td>
            <td id="user_avatar1"></td>
            <td id="user_fio1">ФИО</td>
            <td id="user_login1">Логин</td>
            <td id="user_age1">Логин</td>
            <td id="user_rate1">Название книги</td>
            <td id="user_role1">Дата выдачи:</td>
            <td id="user_book_back1">Ожид. дата возврата:</td>
            <td id="user_book_reads1">Факт. дата возврата:</td>

        </tr>

        <tr>
            <td id="user_id2">id</td>
            <td id="user_avatar2"></td>
            <td id="user_fio2">ФИО</td>
            <td id="user_login2">Логин</td>
            <td id="user_age2">Логин</td>
            <td id="user_rate2">Название книги</td>
            <td id="user_role2">Дата выдачи:</td>
            <td id="user_book_back2">Ожид. дата возврата:</td>
            <td id="user_book_reads2">Факт. дата возврата:</td>

        </tr>

        <tr>
            <td id="user_id3">id</td>
            <td id="user_avatar3"></td>
            <td id="user_fio3">ФИО</td>
            <td id="user_login3">Логин</td>
            <td id="user_age3">Логин</td>
            <td id="user_rate3">Название книги</td>
            <td id="user_role3">Дата выдачи:</td>
            <td id="user_book_back3">Ожид. дата возврата:</td>
            <td id="user_book_reads3">Факт. дата возврата:</td>
        </tr>

        <tr>
            <td id="user_id4">id</td>
            <td id="user_avatar4"></td>
            <td id="user_fio4">ФИО</td>
            <td id="user_login4">Логин</td>
            <td id="user_age4">Логин</td>
            <td id="user_rate4">Название книги</td>
            <td id="user_role4">Дата выдачи:</td>
            <td id="user_book_back4">Ожид. дата возврата:</td>
            <td id="user_book_reads4">Факт. дата возврата:</td>
        </tr>

        <tr>
            <td id="user_id5">id</td>
            <td id="user_avatar5"></td>
            <td id="user_fio5">ФИО</td>
            <td id="user_login5">Логин</td>
            <td id="user_age5">Логин</td>
            <td id="user_rate5">Название книги</td>
            <td id="user_role5">Дата выдачи:</td>
            <td id="user_book_back5">Ожид. дата возврата:</td>
            <td id="user_book_reads5">Факт. дата возврата:</td>
        </tr>

        <tr>
            <td id="user_id6">id</td>
            <td id="user_avatar6"></td>
            <td id="user_fio6">ФИО</td>
            <td id="user_login6">Логин</td>
            <td id="user_age6">Логин</td>
            <td id="user_rate6">Название книги</td>
            <td id="user_role6">Дата выдачи:</td>
            <td id="user_book_back6">Ожид. дата возврата:</td>
            <td id="user_book_reads6">Факт. дата возврата:</td>
        </tr>

        <tr>
            <td id="user_id7">id</td>
            <td id="user_avatar7"></td>
            <td id="user_fio7">ФИО</td>
            <td id="user_login7">Логин</td>
            <td id="user_age7">Логин</td>
            <td id="user_rate7">Название книги</td>
            <td id="user_role7">Дата выдачи:</td>
            <td id="user_book_back7">Ожид. дата возврата:</td>
            <td id="user_book_reads7">Факт. дата возврата:</td>
        </tr>

        <tr>
            <td id="user_id8">id</td>
            <td id="user_avatar8"></td>
            <td id="user_fio8">ФИО</td>
            <td id="user_login8">Логин</td>
            <td id="user_age8">Логин</td>
            <td id="user_rate8">Название книги</td>
            <td id="user_role8">Дата выдачи:</td>
            <td id="user_book_back8">Ожид. дата возврата:</td>
            <td id="user_book_reads8">Факт. дата возврата:</td>
        </tr>

        <tr>
            <td id="user_id9">id</td>
            <td id="user_avatar9"></td>
            <td id="user_fio9">ФИО</td>
            <td id="user_login9">Логин</td>
            <td id="user_age9">Логин</td>
            <td id="user_rate9">Название книги</td>
            <td id="user_role9">Дата выдачи:</td>
            <td id="user_book_back9">Ожид. дата возврата:</td>
            <td id="user_book_reads9">Факт. дата возврата:</td>
        </tr>

        <tr>
            <td id="user_id10">id</td>
            <td id="user_avatar10"></td>
            <td id="user_fio10">ФИО</td>
            <td id="user_login10">Логин</td>
            <td id="user_age10">Логин</td>
            <td id="user_rate10">Название книги</td>
            <td id="user_role10">Дата выдачи:</td>
            <td id="user_book_back10">Ожид. дата возврата:</td>
            <td id="user_book_reads10">Факт. дата возврата:</td>
        </tr>

        <tr>
            <td id="user_id11">id</td>
            <td id="user_avatar11"></td>
            <td id="user_fio11">ФИО</td>
            <td id="user_login11">Логин</td>
            <td id="user_age11">Логин</td>
            <td id="user_rate11">Название книги</td>
            <td id="user_role11">Дата выдачи:</td>
            <td id="user_book_back11">Ожид. дата возврата:</td>
            <td id="user_book_reads11">Факт. дата возврата:</td>
        </tr>

        <tr>
            <td id="user_id12">id</td>
            <td id="user_avatar12"></td>
            <td id="user_fio12">ФИО</td>
            <td id="user_login12">Логин</td>
            <td id="user_age12">Логин</td>
            <td id="user_rate12">Название книги</td>
            <td id="user_role12">Дата выдачи:</td>
            <td id="user_book_back12">Ожид. дата возврата:</td>
            <td id="user_book_reads12">Факт. дата возврата:</td>
        </tr>

        <tr>
            <td id="user_id13">id</td>
            <td id="user_avatar13"></td>
            <td id="user_fio13">ФИО</td>
            <td id="user_login13">Логин</td>
            <td id="user_age13">Логин</td>
            <td id="user_rate13">Название книги</td>
            <td id="user_role13">Дата выдачи:</td>
            <td id="user_book_back13">Ожид. дата возврата:</td>
            <td id="user_book_reads13">Факт. дата возврата:</td>
        </tr>

        <tr>
            <td id="user_id14">id</td>
            <td id="user_avatar14"></td>
            <td id="user_fio14">ФИО</td>
            <td id="user_login14">Логин</td>
            <td id="user_age14">Логин</td>
            <td id="user_rate14">Название книги</td>
            <td id="user_role14">Дата выдачи:</td>
            <td id="user_book_back14">Ожид. дата возврата:</td>
            <td id="user_book_reads14">Факт. дата возврата:</td>
        </tr>

        <tr>
            <td id="user_id15">id</td>
            <td id="user_avatar15"></td>
            <td id="user_fio15">ФИО</td>
            <td id="user_login15">Логин</td>
            <td id="user_age15">Логин</td>
            <td id="user_rate15">Название книги</td>
            <td id="user_role15">Дата выдачи:</td>
            <td id="user_book_back15">Ожид. дата возврата:</td>
            <td id="user_book_reads15">Факт. дата возврата:</td>
        </tr>

        <tr>
            <td id="user_id16">id</td>
            <td id="user_avatar16"></td>
            <td id="user_fio16">ФИО</td>
            <td id="user_login16">Логин</td>
            <td id="user_age16">Логин</td>
            <td id="user_rate16">Название книги</td>
            <td id="user_role16">Дата выдачи:</td>
            <td id="user_book_back16">Ожид. дата возврата:</td>
            <td id="user_book_reads16">Факт. дата возврата:</td>
        </tr>

        <tr>
            <td id="user_id17">id</td>
            <td id="user_avatar17"></td>
            <td id="user_fio17">ФИО</td>
            <td id="user_login17">Логин</td>
            <td id="user_age17">Логин</td>
            <td id="user_rate17">Название книги</td>
            <td id="user_role17">Дата выдачи:</td>
            <td id="user_book_back17">Ожид. дата возврата:</td>
            <td id="user_book_reads17">Факт. дата возврата:</td>
        </tr>

        <tr>
            <td id="user_id18">id</td>
            <td id="user_avatar18"></td>
            <td id="user_fio18">ФИО</td>
            <td id="user_login18">Логин</td>
            <td id="user_age18">Логин</td>
            <td id="user_rate18">Название книги</td>
            <td id="user_role18">Дата выдачи:</td>
            <td id="user_book_back18">Ожид. дата возврата:</td>
            <td id="user_book_reads18">Факт. дата возврата:</td>
        </tr>

        <tr>
            <td id="user_id19">id</td>
            <td id="user_avatar19"></td>
            <td id="user_fio19">ФИО</td>
            <td id="user_login19">Логин</td>
            <td id="user_age19">Логин</td>
            <td id="user_rate19">Название книги</td>
            <td id="user_role19">Дата выдачи:</td>
            <td id="user_book_back19">Ожид. дата возврата:</td>
            <td id="user_book_reads19">Факт. дата возврата:</td>
        </tr>

        <tr>
            <td id="user_id20">id</td>
            <td id="user_avatar20"></td>
            <td id="user_fio20">ФИО</td>
            <td id="user_login20">Логин</td>
            <td id="user_age20">Логин</td>
            <td id="user_rate20">Название книги</td>
            <td id="user_role20">Дата выдачи:</td>
            <td id="user_book_back20">Ожид. дата возврата:</td>
            <td id="user_book_reads20">Факт. дата возврата:</td>
        </tr>
    </table>

    <script>
        ba = 0;
        total = 0;
        $.ajax({
            url: "/home/readers_list_json/",
            type: 'GET',
            dataType: 'json',
            success: function (data) {

                $.each(data, function (i, item) {
                    addTable3(item.id, item.аватар, item.Фамилия, item.Имя, item.Отчество, item.возраст, item.login, item.рейтинг, item.Роль, item.Книг_прочитано, item.Взято_книг, item.Штраф,i);

                });
            },
        });
        function addTable3(a, b, c, d, e, f, g, h, i, j, k,l,z) {
            z++;
            var convert = z.toString();
            var test1 = "user_id" + convert;
            var test2 = "user_avatar" + convert;
            var test3 = "user_fio" + convert;
            var test4 = "user_login" + convert;
            var test5 = "user_age" + convert;
            var test6 = "user_rate" + convert;
            var test7 = "user_role" + convert;
            var test8 = "user_book_back" + convert;
            var test9 = "user_book_reads" + convert;

            var td = document.getElementById(test1);
            var td2 = document.getElementById(test2);
            var td3 = document.getElementById(test3);
            var td4 = document.getElementById(test4);
            var td5 = document.getElementById(test5);
            var td6 = document.getElementById(test6);
            var td7 = document.getElementById(test7);
            var td8 = document.getElementById(test8);
            var td9 = document.getElementById(test9);
            td.innerHTML = a;
            var img = document.createElement("img");
            img.src = '/img/avatars/' + b;
            img.width = 30;
            img.height = 30;
            td2.appendChild(img);
            td3.innerHTML = c + " " + d + " " + e;
            td4.innerHTML = f;
            td5.innerHTML = g;
            td6.innerHTML = h;
            td7.innerHTML = i;
            td8.innerHTML = j;
            td9.innerHTML = k;

        };

    </script>

</body>
</html>
